.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
}

.form-control:focus{
    box-shadow: none;
    border-color: #2C3E50;
}

button{
    background: #17A68A;
    color: #fff;
    padding: 10px;
}