*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --main-color: #2C3E50;
   --second-color: #17212A; 
}

.small-footer{
    background: var(--second-color);
}

.big-footer{
    background-color:var(--main-color);
}